.trContainer {
  background-image: url("../../../public/image/gandus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
  text-align: center;
  text-align: center;
}
